// INDEX

.modal
  position: fixed 0
  padding: 20px 30px 10px
  overflow-y: auto
  display: flex
  flex-direction: column
  z-index: 999
  pointer-events: none
  opacity: 0
  transform: translate3d(75%,0,0)
  transition: .3s $ease
  &.is-active
    opacity: 1
    pointer-events: all
    transform: translate3d(0,0%,0)
  &.is-removing
    opacity: 0
    transform: translate3d(-75%,0%,0)
  &-bg
    position: fixed 0
    z-index: 998
    // background: rgba(white, .75)
    opacity: .77
    pointer-events: none
    opacity: 0
    transition: .3s $ease
    &.is-active
      opacity: 1


  &__wrapper
    flex: 0 0 auto
    display: flex
    flex-direction: column
    position: relative
    max-width: 560px
    width: 100%
    // overflow: hidden
    margin: auto 0 0 auto
    // background: white
    pointer-events: none
    +r($tablet)
      margin: auto
      pointer-events: all

  &__inner
    flex: 1 0 auto
    display: flex
    flex-direction: column
    position: relative
    overflow: visible
    z-index: 2
    pointer-events: all

  &__close
    position: absolute
    z-index: 3
    top: -10px
    right: -10px
    cursor: pointer
    size: 30px
    border-radius: 50%
    background: $colorBlue
    color: white
    font-size: 14px
    display: flex
    align-items: center
    justify-content: center
    transition: .25s $ease
    &:hover
      background: $colorBlueHover

+r($tablet)
  .modal
    padding: 20px 10px 10px
    &__close
      display: none
    &-bg
      background: rgba($fontColor, .6)
