.socials
  span Пишите нам: 
  a(href="#" target="_blank").socials__item.socials__item--tg
    //- +icon('ico-social-tg')
    img(src="img/01.svg")
  a(href="#" target="_blank").socials__item.socials__item--whatsup
    //- +icon('ico-social-whatsup')
    img(src="img/02.svg")
  a(href="#" target="_blank").socials__item.socials__item--fb
    //- +icon('ico-social-fb')
    img(src="img/03.svg")
  a(href="#" target="_blank").socials__item.socials__item--viber
    //- +icon('ico-social-viber')
    img(src="img/04.svg")
  a(href="#" target="_blank").socials__item.socials__item--vk
    //- +icon('ico-social-vk')
    img(src="img/05.svg")
  a(href="#" target="_blank").socials__item.socials__item--sms
    //- +icon('ico-social-sms')
    img(src="img/06.svg")
  a(href="#" target="_blank").socials__item.socials__item--skype
    //- +icon('ico-social-skype')
    img(src="img/07.svg")
  a(href="#" target="_blank").socials__item.socials__item--chat
    //- +icon('ico-social-chat')
    img(src="img/08.svg")
  a(href="#" target="_blank").socials__item.socials__item--gmail
    //- +icon('ico-social-gmail')
    img(src="img/09.svg")
