// LAYOUT
$mobile-s: 375
$mobile: 568
$tablet: 768
$desktop: 992
$wide: 1336
$hd: 1440

// COLORS
$fontColor: #333
$colorBlue: #108aee
$colorBlueHover: #236ec2

$colorRed: #f45b63
$colorYellow: #fda737
$colorOrange: #f46d36

$grayColor: #999
$borderColor: #e8e8e8

// OPTIONS
$transitionSpeed: .25s
$ease: ease-in-out
