// INDEX

.cb-btn
  position: fixed
  display: flex
  bottom: 55px
  right: 55px
  z-index: 99999
  color: white
  font-size: 35px
  size: 65px
  border-radius: 50%
  background: $colorBlue
  transition: .25s $ease
  &:hover
    background-color: $colorBlueHover
  .ico
    transform: translate(2px,0)
  &__wrap
    position: relative
    flex: 1 1 auto
    display: flex
    align-items: center
    justify-content: center
    &::after, &::before
      display: inline-block
      content: ' '
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      z-index: -1
      opacity: 0
      animation-timing-function: ease
      animation-iteration-count: infinite
    &::after
      border: 3px solid $colorBlue
      size: 165px
      transform: translate(-50%,-50%) scale(.7)
      animation-name: cbBtnAfter
      animation-duration: 2s
    &::before
      size: 110px
      background: $colorBlue
      transform: translate(-50%,-50%) scale(.4)
      animation-name: cbBtnBefore
      animation-duration: 2s


@keyframes cbBtnAfter
  0%
    opacity: 0
    transform: translate(-50%,-50%) scale(0.7)
  50%
    opacity: 0.2
    transform: translate(-50%,-50%) scale(1)
  100%
    opacity: 0
    transform: translate(-50%,-50%) scale(0.7)

@keyframes cbBtnBefore
  0%
    opacity: .05
    transform: translate(-50%,-50%) scale(0.4)
  50%
    opacity: 0.2
    transform: translate(-50%,-50%) scale(1)
  100%
    opacity: .05
    transform: translate(-50%,-50%) scale(0.4)



.cb
  background: #0a143b url(../img/modalBg.jpg) no-repeat center center
  background-size: cover
  border-radius: 8px
  display: flex
  min-height: 150px
  padding: 20px 20px 10px
  display: flex
  align-items: center
  color: white
  &__left
    flex: 0 0 100px
    margin-right: 20px
  &__avatar
    size: 100px
    position: relative
    z-index: 1
    border-radius: 50%
    overflow: hidden
    user-select: none
    pointer-events: none
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  &__name
    font-size: 13px
    font-weight: 500
    margin-top: 7px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    .icon
      flex: 0 0 auto
      size: 6px
      background: #4dc247
      border-radius: 50%
      margin-right: 5px
    span
      display: inline-block
      +text-overflow
      flex: 0 1 auto
      min-width: 1px
      min-height: 0
  &__right
    flex: 1 1 auto

  &__slider

  &__slide

  &__title
    font-size: 22px
    font-weight: 500
    line-height: 1

  &__form
    margin-top: 15px
    display: flex


  &__tel
    position: relative
    flex: 1 1 auto
    .icon
      position: absolute
      left: 15px
      top: 50%
      transform: translateY(-50%)
    input
      -webkit-apperance: none
      border: 0
      box-shadow: none
      font-family: 'Verdana', Verdana
      padding: 15px 15px 15px 40px
      display: block
      width: 100%
      background: white
      border-radius: 4px
      font-size: 17px
      color: #565867
      transition: .25s $ease
      &::placeholder
        color: #565867
      &:focus


  &__cta
    flex: 0 0 auto
    margin-left: 12px
    background: $colorBlue
    transition: .25s $ease
    box-shadow: none
    border: 0
    color: white
    border-radius: 4px
    font-size: 16px
    font-weight: 500
    padding: 12px 30px
    cursor: pointer
    &:focus
      outline: none
    &:hover
      background: $colorBlueHover

.socials
  display: flex
  align-items: center
  padding: 15px 0
  span
    font-size: 14px
    font-weight: 500
    color: #333333
    margin-right: 15px
  &__item
    display: flex
    align-items: center
    justify-content: center
    size: 40px
    flex: 0 0 40px
    margin-right: 10px
    color: white
    border-radius: 50%
    overflow: hidden
    transition: .25s $ease
    &--tg
      background: #139BD0
      .ico
        font-size: 19px
        transform: translateX(-2px)
      &:hover
        background: rgba(#139BD0, .1)
        color: #139BD0
    &--whatsup
      background: #4DC247
      .ico
        font-size: 25px
        transform: translateX(1px)
      &:hover
        background: rgba(#4DC247, .1)
        color: #4DC247
    &--fb
      background: #0084FF
      .ico
        font-size: 13px
      &:hover
        background: rgba(#0084FF, .1)
        color: #0084FF
    &--viber
      background: #7B519D
      .ico
        font-size: 21px
        transform: translateX(1px)
      &:hover
        background: rgba(#7B519D, .1)
        color: #7B519D
    &--vk
      background: #4C75A3
      .ico
        font-size: 15px
        // transform: translateX(1px)
      &:hover
        background: rgba(#4C75A3, .1)
        color: #4C75A3
    &--sms
      background: #14C09B
      .ico
        font-size: 24px
        transform: translateY(2px)
      &:hover
        background: rgba(#14C09B, .1)
        color: #14C09B
    &--skype
      background: #00AEF3
      .ico
        font-size: 22px
        // transform: translateX(1px)
      &:hover
        background: rgba(#00AEF3, .1)
        color: #00AEF3
    &--chat
      background: $colorBlue
      .ico
        font-size: 25px
        transform: translate(-1px, 1px)
      &:hover
        background: rgba($colorBlue, .1)
        color: $colorBlue
    &--gmail
      background: #F1635A
      .ico
        font-size: 16px
        // transform: translateX(1px)
      &:hover
        background: rgba(#F1635A, .1)
        color: #F1635A
