// INDEX



.cb
  background: #0a143b url(../img/modalBg.jpg) no-repeat center center
  background-size: cover
  border-radius: 8px
  display: flex
  min-height: 150px
  padding: 20px 20px 10px
  display: flex
  // align-items: center
  overflow: hidden
  color: white
  &__left
    flex: 0 0 100px
    margin-right: 20px
  &__avatar
    size: 100px
    position: relative
    z-index: 1
    border-radius: 50%
    overflow: hidden
    user-select: none
    pointer-events: none
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  &__name
    font-size: 13px
    font-weight: 500
    margin-top: 7px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    .icon
      flex: 0 0 auto
      size: 6px
      background: #4dc247
      border-radius: 50%
      margin-right: 5px
    span
      display: inline-block
      +text-overflow
      flex: 0 1 auto
      min-width: 1px
      min-height: 0
  &__right
    flex: 1 1 auto
    display: flex
    flex-direction: column

  &__slider
    flex: 1 1 auto
    position: relative

  &__slide
    position: absolute
    top: 11px
    bottom: 0
    left: 0
    right: 0
    transform: translate(0,-100%)
    opacity: 0
    pointer-events: none
    transition: .25s $ease
    &.is-active
      opacity: 1
      pointer-events: all
      transform: translate(0,0%)

  &__title
    font-size: 22px
    font-weight: 500
    line-height: 1

  &__form
    margin-top: 15px
    display: flex


  &__tel
    position: relative
    flex: 1 1 auto
    .icon
      position: absolute
      left: 15px
      top: 50%
      transform: translateY(-50%)
    input
      -webkit-apperance: none
      border: 0
      box-shadow: none
      font-family: 'Verdana', Verdana
      padding: 15px 15px 15px 40px
      display: block
      width: 100%
      background: white
      border-radius: 4px
      font-size: 17px
      color: #565867
      transition: .25s $ease
      &::placeholder
        color: #565867
      &:focus


  &__cta
    flex: 0 0 auto
    margin-left: 12px
    background: $colorBlue
    transition: .25s $ease
    box-shadow: none
    border: 0
    color: white
    border-radius: 4px
    font-size: 16px
    font-weight: 500
    padding: 12px 30px
    cursor: pointer
    &:focus
      outline: none
    &:hover
      background: $colorBlueHover

  &__timer
    margin-top: 10px
    font-size: 50px
    font-weight: 500
    line-height: 1


.dev-nav
  position: fixed
  bottom: 0
  z-index: 999
  left: 50%
  transform: translate(-50%,0)
  a
    display: inline-block
    background: #333
    color: white
    padding: 5px
    border-top-right-radius: 5px
    border-top-left-radius: 5px
    margin-right: 5px
    transition: .25s $ease
    &:hover
      opacity: .7
