.ico-call {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-logo {
  width: 1.02em;
  height: 1em;
  fill: #FFF;
}
.ico-social-chat {
  width: 0.83em;
  height: 1em;
  fill: #FFF;
}
.ico-social-fb {
  width: 2.14em;
  height: 1em;
  fill: #FFF;
}
.ico-social-gmail {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.ico-social-skype {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-sms {
  width: 0.92em;
  height: 1em;
  fill: #FFF;
}
.ico-social-tg {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.ico-social-viber {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-social-vk {
  width: 1.69em;
  height: 1em;
  fill: #FFF;
}
.ico-social-whatsup {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-star {
  width: 1.03em;
  height: 1em;
  fill: #FFD925;
}
